body {
  font-family: 'Space Mono',monospace;
  color: white;
  margin: 0;
}

.header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.coffee-logo {
    width: 50px;
    height: 50px;
  }

.header li {
	float: right;
  font-size: 1.4rem;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Space Mono',monospace;
}

a:hover {
    background-color: white;
    color: black !important;
}

.selected {
    background-color: lightgreen;
    color: black !important;
}

.selected li {
    color: black;
}

html{
	background: #231d43;
}

.card-parent {
    padding-top: 3vh;
    display: grid;
    column-gap: 50px;
    row-gap: 2vh;
    justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 15rem;
  width: 90rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: 'Space Mono', monospace;
}

.card-parent a:hover {
  background-color: #6528a5;
  text-decoration: none;
}

.card-parent a {
  text-decoration: none;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #231d43;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .center-this {
  padding-top: 2.8vh;
}

.image-border {
  background: linear-gradient(-45deg, red, yellow);
  width: 30%;
  padding: .2rem;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  padding-left: .4rem;
}

.image1 {
  /* padding: .1rem; */
  color:white;
  border-radius: 10px;
  border-style: solid;
  height: 13.6rem;
  width: 25.8rem;
  object-fit: cover;
  position: relative;
  /* top: -1.3rem; */
}

.image2 {
  /* padding: .1rem; */
  color:white;
  border-radius: 10px;
  border-style: solid;
  height: 29.5vw;
  width: 19.5vw;
  position: relative;
  /* top: -1.3rem; */
}

.description-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: .5rem;
  color: white;
}

.button-conatiner {
  display: flex;
}

button {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  
  .item1 {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    background-color:  rgb(244, 67, 54);
  }

  .item2 {
    flex-shrink: 0;
    height: 250px;
    width: 400px;
    background-color: rgb(67, 160, 71);
  }
}

.item2 p {
    font-family: helvetica, arial, sans-serif;
    padding-left: 5px;
}

.item2 li {
    font-family: helvetica, arial, sans-serif;
    padding-left: 5px;
    overflow: default;
}

.item2 ul {
    overflow: default;
    list-style-type: default;
}

.item1 img {
    width: 250px;
    height: 250px;
}


