body {
  font-family: 'Space Mono',monospace;
  color: white;
  margin: 0;
}

.header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.coffee-logo {
    width: 45px;
    height: 45px;
  }

.header li {
	float: right;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

a:hover {
    background-color: white;
    color: black !important;
}

.selected {
    background-color: lightgreen;
    color: black !important;
}

html{
	background: #231d43;
}


.AboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding-top:0vh;
  width: 50%;
  top:0;
  position: sticky;

  /* .item1 {
    flex-shrink: 0;
    height: 20vw;
    width: 20vw;
    padding-bottom: 1vw;
  } */

  .item2 {
    /* background-color: rgba(255, 255, 255, 0.1); */
    flex-shrink: 0;
    height: 20vw;
    width: 20vw;
    color: white;
  }
}

.item2 {
  font-size: 1.2vw;
}

.item2 p {
    padding-left: 5px;
}

.item2 li {

    padding-left: 5px;
    overflow: default;
}

.item2 ul {
    overflow: default;
    list-style-type: default;
}


.item1 img {
    width: 20vw;
    height: 20vw;
}


.content-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #231d43;
}

.holdPosition {
  position:fixed;
  top:20%;
  bottom:25%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .center-this {
  padding-top: 2.8vh;
}

a {
  text-decoration: none;
  color: #988be4;
}

.socialbox {
  border: #988be4;
  border-radius: 2px;
  border-style: solid;
  border-radius: 2px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: .5vw;
  background-color: #988be470;
  gap: 1%;
  margin-bottom: 5px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 2.5%;
}

.hobbies-section {
  padding-left: 1%;
}

.resume-section {
  padding-left: 1%;
}

.resume-section h3 {
  margin-top: unset;
  padding-top: .1vw;
  font-size: 2vw;
}

.resume-section li {
  font-size:1.4vw;
  width:80%;
}

.resume-section p {
  font-size: 1.5vw;
}

.social-links img {
  width: 1.5vw; 
  height: 1.5vw;
  padding-right: 5px;
}

.socialbox p {
  font-size: 1.2vw;
  margin: 0;
}

@media (max-width:1500px) {
  .content-container {
    display: block;
    padding-top: .5%;
  }

  .AboutMe {
    all:unset;
    align-items: center;
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
  
    /* .item1 {
      flex-shrink: 0;
      height: 50vw;
      width: 50vw;
      padding-bottom: 1vw;
    } */
  
    .item2 {
      /* background-color: rgba(255, 255, 255, 0.1); */
      flex-shrink: 0;
      height: 70vw;
      width: 75vw;
      color: white;
      font-size: medium;
    }
  }

  .holdPosition {
    position:unset;
  }

  .another-container {
    align-content: center;
  }

  .another-container h3 { 
    font-size: 1.7rem;
  }
  
  .another-container li {
    font-size:1.1rem;
  }
  
  .another-container p {
    font-size: 1.2rem;
  }
  
  .item2 p {
    font-size: 3.5vw;
    padding-left: 5px;
}

.item2 h2 {
  font-size: 4vw;
}

.item2 a {
  font-size: 3.5vw;
}

.item2 li {
    padding-left: 5px;
    overflow: default;
}

.item2 ul {
    overflow: default;
    list-style-type: default;
}


.item1 img {
    width: 50vw;
    height: 50vw;
}

.socialbox {
  border: #988be4;
  border-radius: 2px;
  border-style: solid;
  border-radius: 2px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: .5vw;
  background-color: #988be470;
  gap: 1%;
}

.socialbox p {
  font-size: 4vw;
  margin: 0;
}
.social-links img {
  width: 4vw; 
  height: 4vw;
  padding-right: 5px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
}

.header ul {
  padding-right: 25%;
}

.header li {
	float:center;
  font-size: 4vw;
}

}